[Unit]
Description=Audio Reactive LED Strip Service Server
# TODO figure out which services to depend on
Wants=alsa-state.service audio-reactive-led-strip.service
After=alsa-state.service audio-reactive-led-strip.service

[Service]
Type=simple
WorkingDirectory=/home/pi/led-server/server
ExecStart=/usr/bin/python /home/pi/audio-reactive-led-strip/python/visualization.py

[Install]
WantedBy=multi-user.target